<header class="lastfm-header">
    <nav>
        <div *ngIf="!isSearching" class="grow lastfm-banner">
            <a href="https://www.last.fm/">
                <img src="assets/lastfm-logo.png" alt="lastfm-logo" class="lastfm-logo-img">            
            </a>
        </div>

        <div [hidden]="!isSearching || onArtistPage" class="grow search-box">
            <input type="search" placeholder="Search for an artist..." #searchInput (input)="onSearchChange($event.target.value)">
        </div>
        <button *ngIf="!onArtistPage" (click)="triggerSearching()" class="no-grow trigger-search-button">
            <i class="fa" [ngClass]="{'fa-search': !isSearching, 'fa-times': isSearching}" aria-hidden="true"></i>
        </button> 
        
        <button *ngIf="onArtistPage" (click)="backToSearch()" class="no-grow trigger-search-button">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </button> 
    </nav>
</header>