main {
    display: flex;
    height: calc(100% - 60px);

    .spinner {
        margin: auto;
    }
    
    .results {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 1200px;
    }
}