$lastfm-primary-red: #b90000;

mat-card {
    width: 200px;
    margin: 20px 0;
    background-color: #424242;
    color: #fff;

    mat-card-title {
        font-weight: bold;
        color: $lastfm-primary-red;
    }

    mat-card-subtitle {
        color: #fff;
    }

    img {
        margin-bottom: 0;
    }

    mat-card-content {
        margin-bottom: 0;

        mat-list {
            padding-top: 0;

            mat-list-item {
                color: #fff;
            }
        }
    }
    
    mat-card-actions {
        padding-top: 0;
    }

    a, button {
        font-weight: bold;
    }
}
