<main>
    <mat-spinner *ngIf="!topTracks" class="spinner"></mat-spinner>
    <mat-list class="results" *ngIf="topTracks">
        <h2>Top Tracks:</h2>
        <mat-list-item *ngFor="let track of topTracks">
            <mat-icon mat-list-icon>library_music</mat-icon>
            <h4 mat-line>{{track.artist.name}}</h4>
            <h5 mat-line>{{track.name}}</h5>
            <span mat-line>Playcount: {{track.playcount}}</span>
            <div class="listeners">
                <mat-icon mat-list-icon>headset</mat-icon>
                <span>{{track.listeners}}</span>                
            </div>
        </mat-list-item>
    </mat-list>
</main>